.header__title {
  text-align: center;
  margin: 20px 0;
}
.App__main {
  width: 80vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  margin: auto;
}
.main__containerCount {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.main__total{
  margin-top: 20px;
  font-weight: bold;
}
